.logo {
  height: 76px;
}
.nav .linkname {
  font-size: 13px !important;
}
aside .Mui-selected {
  color: #001327;
  background-color: #eaebef !important;
}
.icon svg {
  width: 18px;
}
/* .accodianNav {
  box-shadow: none !important;
}
.navcontent {
  padding: 0px 16px 0px 0px !important;
  margin: 0px !important;
}
.navcontent span {
  margin: 0px !important;
}
.navcontent.Mui-expanded {
  min-height: auto !important;
} */
